:root {
	--ambrosia:						#FCDBBA;
	--apricot: 						#FF8652;  /*important*/
	--aubergine: 					#6A2352;
	--auburn: 						#A12F2F;
	--asparagus: 					#A0C259;
	--beetroot:						#7F0421;
	--blue-tack: 					#82BFE0;
	--bloom:						#363A57;
	--blush: 						#D67B71;
	--bronze:						#C27940;
	--bud:							#94C15C;
	--burnt-orange:		    		#FF5F00; 
	--butter:						#F2C94C;
	--strawberry-yogurt:        	#E4BCAD;
	--carmine:						#9A133E;
	--chocolate: 					#8F5D38;
	--chestnut: 					#81291F;
	--clay: 						#7D6050; /* important */
	--conker: 						#6F3131;
	--coral: 						#EB4444;
	--dusty-purple: 	    		#7D6391;
	--dusty-pink: 			    	#E4ADAD;
	--emerald: 						#55B95F;
	--fern:							#4F8D08;
	--forest: 						#2E644A;
	--fudge:						#C28742;
	--grassy: 						#A8D363;
	--green:						#62B90A;
	--hazelnut: 					#D08E5A;
	--ink:							#292C31;
	--ivory:						#F2EFE3;
	--lapis:						#2B4D8D;
	--leafy:						#318553;
	--lemon:						#EAFC7E;
	--lime: 						#73D645;
	--limestone:					#C9C5B5;
	--magenta:						#BC2767;
	--meadow:						#7A9A3E;
	--melon:						#F2994A;
	--midnight:						#1B3955;
	--mink:							#E8C9A1;
	--mint:							#C4EA70;
	--moss:							#7DB21C;
	--mushroom:						#EDE8D5;
	--navy:							#363A57;
	--orange:						#FD8A04;
	--pale-lemon:					#F4FFDC;
	--peach:						#FFB190;
	--pond-bottom:	    			#264A46;
	--powder-blue:		    		#B5D0E0;
	--powder-pink:			    	#FBD1D1;
	--primrose:						#E1F7B0;
	--purple:						#A95AF3;
	--purple-slate:			    	#545375;
	--rainforest:					#25422E;
	--raspberry-jam:			    #3C0D2B;
	--robins-egg:					#B8DEE0;
	--rouge:						#CC3737;
	--royal:						#4169E1;
	--ruby:							#D1314B; 
	--sage:							#87A376; /* background */
	--sakura:						#FFE4E4;
	--sea-glass:					#7FD1AE;
	--sea-foam:						#5D998B;
	--sea-fog:						#758C92;
	--slate:						#7184A5;
	--spearmint:					#94E0CF;
	--spring:						#5ACB65;
	--succulent:					#83A944;
	--twilight:						#203763;
	--vavavoom:						#BF0D0D;
	--white:						#FFFFFF;
	--yellow:						#FFE03D;
	
	--trans: transparent;
	--trans05: rgba(255,255,255,0.05);
	--trans1: rgba(255,255,255,0.1);
	--trans2: rgba(255,255,255,0.2);
	--trans4: rgba(255,255,255,0.4);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: url('leftRowBG.png'); /* Path to the image */
  background-size: cover;                  /* Scale image to cover entire background */
  background-repeat: repeat;            /* Prevent image from repeating */
  background-position: center left;      /* Center the image */
}

.nav-wrapper {
    position: sticky;
    padding-top: 0.25vh;
    top: 0 !important;
    z-index: 1000;
    background-color: var(--sage);
}

nav {
    margin: 0 0.5rem;
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    background-color: #735628; /*rgba(140, 140, 140, 1) var(--apricot)*/
    border-radius: 10px;
}

.nav-main {
    display: flex;
    justify-self: end;
}

.currentPage {   /* Kasutada et n�data lehte kus asud */
    padding: 0.5rem 1.5rem;
    text-decoration: None;
    color: var(--white); /*rgb(46, 53, 53) */
    font-size: 1.25rem;
    background-color: var(--clay); /* rgb(205, 214, 214) */
    border-radius: 10px;
}



.nav-main a {
    padding: 0.5rem 1.5rem;
    text-decoration: None;
    color: rgb(46, 53, 53);
    font-size: 1.25rem;
}

.nav-main a:hover {
    background-color: azure;
    border-radius: 10px;
}

.nav-main a:active {
    background-color: rgb(205, 214, 214);
    border-radius: 10px;
}

.content-main {
    display: flex;
}

.left-sidebar{
    margin-top: 7.5vh;
    max-width: 25%;
    height: 70vh;
    display: grid;
    grid-auto-rows: max-content;
    border-right: 5px solid rgba(0, 0, 0, 0.5);
    padding-right: 1rem; /* Optional: adds space before divider */
}

select {
    justify-self: center;
    align-self: center;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: None;
    background-color: rgb(205, 214, 214);
    border-radius: 16px;
}

.card{
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    justify-items: center;
}

.main-content {
    display: flex;
    margin-top: 2.5vh;
    width: 75%;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-end;
    flex-wrap: nowrap;
    background-color: rgb(181,198,137,0.8);
}

.main-content-heading {
    font-size: 4em;

}

.main-content-thumbnail {
    margin: 1em;
    max-width: 45vw;
    border-radius: 10px;
}

.main-content-list {
    display: flex;
    overflow-wrap: anywhere;
    max-width: 62.5%;
}

.main-content ul {
    margin: 0 2em;

}

.main-content li {
    font-size: 1.5em;
    padding: 0.125em 0;
}

.main-content-process {
    margin-top: 2em;
    max-width: 85%;
    font-size: 1.25em;
}

.main-content-pic {
    max-width: 20%;
    border-radius: 10px;
}

.main-content-gallery {
    width: 100vw;
    height: 200px;
    }
    
    @keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
    }
    
    .main-content-gallery{
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 15vh;
    }
    
    .main-content-gallery > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px); 
    opacity: 0;
    animation: display 10s infinite;
    }
    
    img:nth-child(2) {
    animation-delay: 2s;
    }
    img:nth-child(3) {
    animation-delay: 4s;
    }
    img:nth-child(4) {
    animation-delay: 6s;
    }
    img:nth-child(5) {
    animation-delay: 8s;
    }