* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-wrapper {
    position: sticky;
    padding-top: 0.25vh;
    top: 0 !important;
    z-index: 1000;
    background-color: white;
}

nav {
    margin: 0 0.5rem;
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    background-color: rgba(140, 140, 140, 1);
    border-radius: 10px;
}

.nav-main {
    display: flex;
    justify-self: end;
}

.currentPage {   /* Kasutada et n�data lehte kus asud */
    padding: 0.5rem 1.5rem;
    text-decoration: None;
    color: rgb(46, 53, 53);
    font-size: 1.25rem;
    background-color: rgb(205, 214, 214);
    border-radius: 10px;
}

.nav-main a {
    padding: 0.5rem 1.5rem;
    text-decoration: None;
    color: rgb(46, 53, 53);
    font-size: 1.25rem;
}

.nav-main a:hover {
    background-color: azure;
    border-radius: 10px;
}

.nav-main a:active {
    background-color: rgb(205, 214, 214);
    border-radius: 10px;
}

.content-main {
    display: flex;
}

.left-sidebar{
    margin-top: 7.5vh;
    max-width: 25%;
    height: 70vh;
    display: grid;
    grid-auto-rows: max-content;
    border-right: 5px solid rgba(0, 0, 0, 0.5);
    padding-right: 1rem; /* Optional: adds space before divider */
}

select {
    justify-self: center;
    align-self: center;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: None;
    background-color: rgb(205, 214, 214);
    border-radius: 16px;
}

.card{
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    justify-items: center;
}

.main-content {
    display: flex;
    margin-top: 2.5vh;
    width: 75%;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-end;
    flex-wrap: nowrap;
}

.main-content-heading {
    font-size: 4em;

}

.main-content-thumbnail {
    margin: 1em;
    max-width: 45vw;
    border-radius: 10px;
}

.main-content-list {
    display: flex;
    overflow-wrap: anywhere;
    max-width: 62.5%;
}

.main-content ul {
    margin: 0 2em;

}

.main-content li {
    font-size: 1.5em;
    padding: 0.125em 0;
}

.main-content-process {
    margin-top: 2em;
    max-width: 85%;
    font-size: 1.25em;
}

.main-content-pic {
    max-width: 20%;
    border-radius: 10px;
}

.main-content-gallery {
    width: 100vw;
    height: 200px;
    }
    
    @keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
    }
    
    .main-content-gallery{
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 15vh;
    }
    
    .main-content-gallery > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px); 
    opacity: 0;
    animation: display 10s infinite;
    }
    
    img:nth-child(2) {
    animation-delay: 2s;
    }
    img:nth-child(3) {
    animation-delay: 4s;
    }
    img:nth-child(4) {
    animation-delay: 6s;
    }
    img:nth-child(5) {
    animation-delay: 8s;
    }